* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.container1 {
  /* border: 2px solid green; */
  height: 100%;
  margin: 5px;
}

/*---------------------- Flex Left--------------------- */
.flex-text {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 35px;
  width: 45%;
  height: auto;
  /* background-color: antiquewhite; */
  font-size: 90px;
  text-transform: uppercase;
}
p span {
  color: blue;
}
h2 {
  color: grey;
}

/*---------------------- Flex Right--------------------- */
.flex-img {
  width: 45%;
  height: auto;
  /* background-color: aquamarine; */
  background-image: url(../Images/Shape.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/*---------------------- Flex mid --------------------- */
/* Ignore */
.flex-empty {
  width: 10%;
  height: auto;
  /* background-color: blueviolet; */
}
/* -------------- Button ------------------------- */
a.btn {
  background-color: rgb(50, 102, 233);
  color: aliceblue;
  padding: 10px 20px;
}
a.btn:hover {
  background-color: #d1d506;
}

/* -------------- Product -------------------------- */
.container2 {
  /* border: 2px solid green; */
  height: 100%;
  margin: 5px;
}
.flex-img1 {
  width: 33.33%;
  height: auto;
  /* background-color: cadetblue; */
}
.flex-img2 {
  width: 33.33%;
  height: auto;
  /* background-color: cadetblue; */
}
.flex-img3 {
  width: 33.33%;
  height: auto;
  /* background-color: cadetblue; */
}

.flex-img1 img {
  width: 98%;
  height: 80%;
  margin: 10px;
  border-radius: 30px;
  transition: 0.2s all;
}
.flex-img2 img {
  width: 98%;
  height: 80%;
  margin: 10px;
  border-radius: 30px;
  transition: 0.2s all;
}
.flex-img3 img {
  width: 98%;
  height: 80%;
  margin: 10px;
  border-radius: 30px;
  transition: 0.2s all;
}
/* ------------------------------- Price ------------------------------ */
.container2 h4 {
  color: black;
  text-align: left;
  padding-top: 2%;
  font-weight: bold;
  margin-left: 20px;
}

/* Animation */
.flex-img1 img:hover {
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.412);
  transform: scale(1.05);
}
.flex-img2 img:hover {
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.405);
  transform: scale(1.05);
}
.flex-img3 img:hover {
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.419);
  transform: scale(1.05);
}

.container2 h4:hover {
  color: rgba(255, 0, 0, 0.576);
}

/* ---------------------------- Deal ----------------------------------- */
.container3 {
  /* border: 2px solid green; */
  height: 100%;
  margin: 5px;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(
      91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-blend-mode: screen;
}
.flex-banner {
  width: 50%;
  height: auto;
  /* background-color:red; */
  padding-left: 20px;
  justify-content: center;
}
.flex-para {
  width: 50%;
  height: auto;
  /* background-color: green; */
  padding-left: 20px;
  padding-top: 10px;
}
.flex-para P {
  font-size: 30px;
  padding: 10px;
  color: grey;
}

/* --------------------- Cards Programmers ----------------------------- */
.container3 {
  /* border: 2px solid green; */
  height: 100%;
  margin: 5px;
  border-radius: 20px;
}
.tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  padding: 9px;
}
/* designs for cards */
.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.card-content img {
  width: 100%;
  height: 100%;
}
.card-content q {
  font-size: 20px;
  font-style: italic;
}
.card-content h6 {
  text-align: center;
  color: rgb(77, 75, 75);
  font-weight: bold;
  font-size: 30px;
  padding: 15px;
}
.card-content img:hover {
  transform: scale(1.05);
}

/* --------------------------------- Sponsers -------------------------------------- */
.container5 {
  /* border: 2px solid green; */
  height: 100%;
  margin: 5px;
}
.flex-11 {
  width: 25%;
  height: 50%;
}
.flex-12 {
  width: 25%;
  height: 50%;
}
.flex-13 {
  width: 25%;
  height: 50%;
}
.flex-14 {
  width: 25%;
  height: 50%;
}

/* Sponser img */
.flex-11 img{
    width: 50%;
    height: 50%;
    padding: 20px;
    padding-top: 90px;
  }
  .flex-12 img{
    width: 50%;
    height: 50%;
    padding: 20px;
  }
  .flex-13 img{
    width: 50%;
    height: 50%;
    padding: 20px;
  }
  .flex-14 img{
    width: 50%;
    height: 50%;
    padding: 20px;
  }
/* ---------------------------------------------------------  End of CSS :) -------------------------------------------------------------- */