*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}


/* navbar */
#navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
#navbar img{
width: 25%;
height: 5%;
padding: 10px;
}
#navbar ul{
  display: flex;
  list-style: none;
}
li{
  padding: 10px;
  margin: 5px;
}
li a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}

/* container */
#container{
  display: flex;
  flex-direction: column-reverse;
  margin: 80px 10px;
  width: 90%;
  height: auto;
}


/* text */
#container .text{
  width: 90%;
  font-size: 20px;
  /* padding: 30px; */
  margin: 40px 0;
  word-break: break-all;
}
.text h1 span{
color: blue;
word-break: normal;
}
.text p{
  color: gray;
  margin: 20px 0;
}
.text button{
  padding: 10px 20px ;
  background-color: blue;
  border-radius: 20px;
}
.text button a{
  color: aliceblue;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  border: 0px;
}

/* image */
#container .img{
  display: flex;
  position: relative;
  width: 90%;
  top: 0%;
  left: 0%;
}
.img1{
  width: 100%;
  height: auto;
  position: relative;
  top: 10px;
  left: 10px;
}
.img2{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}


/* Sneakers */

#sneakers{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.cards img{
  width: 90%;
  border-radius: 20px;
}
.cards p{
  margin: 10PX 0;
  font-size: 30px;
  font-weight: 600;
}
.cards p:hover{
  color: #FF0000;
}

/**************** Projects ****************/

#projects{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px 0;
}
.item{
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  /* border-radius: 20px; */
  /* border: 2px solid black; */

}
.item img{
  width: 90%;
  height: 100%;
  margin: 0 0 10px 0;
  border-radius: 4px;
}
.item p{
margin: 10px 0;
}
.item p a{
  color: black;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;

}
.item p a:hover{
  text-transform:capitalize;
  font-weight: 900;
  font-size: 20px;
}


footer{
  background-color: rgb(34, 34, 34);
  padding: 10px 0;
}
footer h2{
  text-align: center;
  color: aliceblue;
  font-size: 10px;
}
h2 a{
  text-decoration: none;
  color: aliceblue;
}
h2 a:hover{
  color: aquamarine;
  text-transform: uppercase;
}





@media screen and (min-width: 820px){
  #navbar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    flex-direction: row;
    
  }
  #navbar img{
  width: 5%;
  height: 2%;
  padding: 10px;
  }
  #container{
    display: flex;
    flex-direction: row;
    margin: 80px 5px;
    width: 100%;
    height: auto;
  }
  #container .text{
    width: 90%;
    font-size: 35px;
    /* padding: 30px; */
    margin: 40px 10px;
    word-break: break-all;
  }
  #sneakers{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
  }
  .cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  .cards img{
    width: 90%;
    height: 100%;
    border-radius: 20px;
  }
  .cards P{
    margin: 30PX 0;
    font-size: 40px;
    font-weight: 600;
  }
  .item img{
    width: 90%;
    height: 100%;
    margin: 0 0 10px 0;
    border-radius: 8px;
  }
  .item p a{
    color: black;
    padding: 10px;
    font-size: 40px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  .item p a:hover{
    text-transform:capitalize;
    font-weight: 900;
    color: rgb(235, 147, 15);
    font-size: 40px;
  }
}
